/* 
  @pakages habluTheme
*/

/* 
    Variables
 */
$font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$primary-color: #333333;
$secondary-color: rgba(255, 83, 51, 0.77);
$navy-blue: #134fb8;
$blue: rgb(0, 0, 255);
$light-gray: #bebebe;
$lighter-gray: #e6e6e6;
